.background {
  margin: 0px 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTable {
  width: 600px;
  height: 700px;
  background-color: #3d4148;
  border-radius: 12px;

  .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #373a41;
  }

  .input {
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
  }

  .divider {
    width: 500px;
    margin: auto;
    border: 1.4px solid #373a41;
  }
}
