.back {
  margin: 0px 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTable {
  width: 600px;
  height: 700px;
  background-color: #3d4148;
  border-radius: 12px;

  .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #373a41;
  }

  .date {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
  }

  .divider {
    width: 500px;
    margin: auto;
    border: 1.4px solid #373a41;
  }

  .todoListContainer {
    width: 500px;
    margin: auto;

    .todoItem {
      width: 500px;
      height: 30px;
      display: flex;
      margin: 20px auto;
      .itemContainer {
        // display: inline-block;
        flex-grow: 1;
        margin-left: 10px;
        font-size: 20px;
      }
    }

    .noList {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 300px;
      margin: auto;
    }
  }
}
